# Directorio de dependencias de Node
node_modules/

# Archivos temporales de npm
npm-debug.log*

# Directorios de producción
/backend/dist
/frontend/dist

# Archivos de configuración con variables de entorno
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Archivos de la plataforma
.DS_Store